@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Merienda:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a46cff;
  --dark-primary-color: #44217c;
  --black-text: #3c3e41;
  --black-heading: #1e2125;
  --black-text-2: #2d3b48;

  --Merienda-font: 'Merienda', cursive;
  --heading-font: 'Arvo', serif;
  --text-font: 'Lato', sans-serif;

  --success: #47a447;
  --info: #5bc0de;
  --warning: #ed9c28;
  --danger: #d2322d;
  --light: #f8f9fa;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1220px;
}

body {
  // background-color: var(--body-bg);
  background-color: #e9e9e9;

  overflow-x: hidden !important;
}

.title {
  font-size: 1.1rem;
  font-family: var(--Merienda-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  color: var(--black-heading);
}

p,
a,
li,
textarea,
td {
  font-family: var(--text-font);
  color: var(--black-text);
}

.container-lg {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 1220px) {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.274);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cursor-p {
  cursor: pointer;
}

.error {
  color: var(--danger);
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
}
